.card {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-white;
    background-color: $color-text-gray;
  }
}
.products {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-white;
    background-color: $color-text-gray;
  }
}
.about {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-white;
    background-color: $color-text-gray;
  }
}
.connect {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-white;
    background-color: $color-text-gray;
  }
}
.search {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $color-text-gray;
  }
}
.shop {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $color-background;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $color-text-gray;
  }
}
.ask {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: $color-black;
  color: $color-white;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $color-text-gray;
  }
}
.product-btn {
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  background: $color-white;
  color: $color-black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5 ease-in-out;
  &:hover {
    background: $color-black;
    color: $color-white;
  }
}
