.nav-shop {
  display: flex;
  gap: 8px;
}

.cataog-products {
  display: flex;
  gap: 40px;
}

.product__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  justify-content: center;
  .cards {
    width: 300px;
    padding: 4px;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
    .aвтоматический-мини {
      padding: 20px;
      font-size: 16px;
    }
    .about__info {
      padding: 0 20px;
      .info__img {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid rgba(233, 233, 233, 1);
        font-size: 15px;
        font-size: 14px;
      }
    }
    .price {
      display: flex;
      justify-content: center;
      font-size: 26px;
      color: rgba(22, 22, 22, 1);
      margin-top: 30px;
    }
    .buy {
      margin: 20px;
      padding: 12px 95px;
      border-radius: 8px;
      background-color: $color-black;
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $color-white;
      &:hover {
        background-color: $color-product-text-light;
        color: $color-black;
      }
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }
  }
}

.show {
  padding: 12px 20px;
  background-color: $color-background;
  border: none;
  display: flex;
  justify-items: end;
  border-radius: 8px;
  &:hover {
    background-color: $color-product-text-light;
  }
}
