html {
  scroll-behavior: smooth;
}

.product-tabs {
  border-bottom: $border-side;
  margin-bottom: 40px;
  margin-top: 40px;
  position: sticky;
  top: 0;
  background: $color-white;

  .tabs__list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;

    li {
      .tabs__link {
        text-decoration: none;
        color: #888888;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 15px;
        display: inline-block;
        border-bottom: $border-side;
        transition: all 0.3s ease;

        &:hover,
        &.active {
          color: $color-black;
          border-bottom: 2px solid $color-black;
        }
      }
    }
  }
}

.product-description {
  max-width: 800px;
  display: flex;
  gap: 100px;
  justify-content: space-around;
  .description {
    width: 100%;
    h2 {
      margin-bottom: 20px;
      font-size: 32px;
    }
    .text__about__product {
      display: grid;
      gap: 20px;
    }
  }

  .specs {
    width: 100%;
    h2 {
      margin-bottom: 40px;
      font-size: 32px;
    }
    .specs__row {
      margin-bottom: 60px;
      .spec {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        gap: 200px;
        border-bottom: 1px solid $color-text-gray;
        font-size: 16px;
        .spec-1 {
          color: $color-text-gray;
        }
      }
    }
  }

  .video {
    width: 100%;
    h2 {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  .right__card {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    a {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      text-decoration: none;
      color: inherit;
      transition: transform 0.2s ease;

      &:hover {
        transform: translateX(5px); // Hover bo'lganda ozgina siljiydi
      }

      .img__card,
      img {
        width: 48px;
        height: 48px;
        min-width: 48px; // Rasm kichrayib ketmasligi uchun
        background: #fcfcfc;
        border: 1px solid #f0f0f0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }

      div {
        h4 {
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 5px 0;
          color: #000;
        }

        h6 {
          font-size: 14px;
          font-weight: 400;
          color: #888;
          line-height: 1.4;
          margin: 0;
          width: 400px;
        }
      }
    }
  }
}
