$padding: 40px;

.info {
  max-width: 1360px;
  width: 50%;
  background-color: $color-background;
  border-radius: 16px;
  margin-right: 32px;
  h1 {
    font-size: 40px;
    padding: $padding;
  }

  h3,
  h4 {
    font-size: 16px;
    padding: $padding;
  }
}
