$color-background: rgba(244, 245, 248, 1);
$color-text-gray: rgba(117, 117, 117, 1);
$color-black: black;
$color-white: white;
$color-product-bg: rgb(31, 35, 40);
$color-product-text-light: #cfd3d7;
$color-border-light: rgba(255, 255, 255, 0.15);
$max-width: 1440px;
$padding-container: 0 40px;
$border-side: 2px solid $color-background;
$gap: 16px;
$min-card-width: 280px;
$transition: 0.5s ease;
