$color-background: rgba(244, 245, 248, 1);
$color-text-gray: rgba(117, 117, 117, 1);
$color-black: black;
$color-white: white;
$color-product-bg: #1f2328;
$color-product-text-light: #cfd3d7;
$color-border-light: rgba(255, 255, 255, 0.15);
$max-width: 1440px;
$padding-container: 0 20px;
$border-side: 2px solid $color-background;
